{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 ms-auto">
            <p class="lead"> contacto@gmail.com </p>
        </div>
        <div class="col-lg-4 me-auto">
            <p class="lead"> envigado </p>
        </div>
        <div class="col-lg-4 me-auto">
            <p class="lead"> +57 301-842-4832</p>
        </div>
    </div>
</div>
{% endblock %}